<html>
<head>
</head>
<body>
	<table>
		<tr>
			<td><b>Subject:</b> A New Travel Request(ID:$requestId)is
				awaiting your action</td>
		</tr>
		<tr>
			<td><b>Email Body:</b></td>
		</tr>
		<tr>
			<td>Hi,</td>
		</tr>
		<tr>
			<td>The Request bearing <b>Request ID: $reuestId</b> has been
				raised for <b>Employee:$employeeName</b> and needs your response.
			</td>
		</tr>
		<tr>
			<td>Trip Details:</td>
		</tr>
		<tr>
			<td>
				<table border="1px" cellpadding="0" cellspacing="0">
					<tr>
						<td>Trip Type</td>
						<td>From</td>
						<td>To</td>
						<td>Date of Journey</td>
						<td>Prferred Time of Journey</td>
					</tr>
					#foreach($tripDetails in $tripsDetails)
					<tr>
						<td>$tripDetails.getTripType()</td>
						<td>$tripDetails.getFrom()</td>
						<td>$tripDetails.getTo()</td>
						<td>$tripDetails.getDateOfJourney()</td>
						<td>$tripDetails.getPreferredTime()</td>
					</tr>
					#end
				</table>
			</td>
		</tr>
		<tr>
			<td>Traveller’s Info:</td>
		</tr>
		<tr>
			<td>
				<table border="1px" cellpadding="0" cellspacing="0">
					<tr>
						<td>Travelers Name</td>
						<td>Gender</td>
						<td>DOB</td>
						<td>Relationship</td>
						<td>Meal Preference</td>
					</tr>
					#foreach($traveller in $travellersDetails)
					<tr>
						<td>$traveller.getName()</td>
						<td>$traveller.getGender()</td>
						<td>$traveller.getDOB</td>
						<td>$traveller.getRelationship()</td>
						<td>$traveller.getMealPrice()</td>
					</tr>
					#end
				</table>
			</td>
		</tr>
		<tr>
			<td>Other details:</td>
		</tr>
		<tr>
			<td>
				<table border="1px" cellpadding="0" cellspacing="0">
					<tr>
						<td>Employee Name</td>
						<td>Employee ID</td>
						<td>Approving Manager</td>
						<td>Contact Number</td>
						<td>Email ID</td>
						<td>Purpose of Travel</td>
						<td>Client Name</td>
					</tr>
					#foreach($details in $otherDetails)
					<tr>
						<td>$details.getEmployeeName()</td>
						<td>$details.getEmployeeId()</td>
						<td>$details.getApprovingManager()</td>
						<td>$details.getContactNumber()</td>
						<td>$details.getEmailId()</td>
						<td>$details.getPurpose()</td>
						<td>$details.getClientName()</td>
					</tr>
					#end
				</table>
			</td>
		</tr>
		<tr>
			<td>Facilities Requested:</td>
		</tr>
		<tr>
			<td>
				<table border="1px" cellpadding="0" cellspacing="0">
					<tr>
						<td>Ticket</td>
						<td>Hotel</td>
						<td>VISA</td>
						<td>Forex</td>
						<td>Insurance</td>
						<td>Sim Card</td>
					</tr>
					#foreach($fecility in $fecilities)
					<tr>
						<td>$fecility.getTicket()</td>
						<td>$fecility.getHotel()</td>
						<td>$fecility.getVisa()</td>
						<td>$fecility.getForex()</td>
						<td>$fecility.getInsurance()</td>
						<td>$fecility.getSimCard()</td>
					</tr>
					#end
				</table>
			</td>
		</tr>
		<tr>
			<td>Please click on the appropriate links below to approve/reject the request.</td>
		</tr>
		<tr>
			<td><a>Approve</a>&nbsp<a>Reject</a></td>
		</tr>
		<tr>
			<td>Please <a>Click Here</a> to open the Travel Desk app Corridor. </td>
		</tr>
		<tr>
			<td>Thank you</td>
		</tr>
		<tr>
			<td>This is a system-generated email. Please do not respond to this email.</td>
		</tr>
	</table>
</body>
</html>
